<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[兔子]</key>
	<string>d_tuzi</string>
	<key>[熊猫]</key>
	<string>d_xiongmao</string>
	<key>[猪头]</key>
	<string>d_zhutou</string>
	<key>[傻眼]</key>
	<string>d_shayan</string>
	<key>[打脸]</key>
	<string>d_dalian</string>
    <key>[阴险]</key>
    <string>d_yinxian</string>
    <key>[黑线]</key>
    <string>d_heixian</string>
    <key>[拜拜]</key>
    <string>d_baibai</string>
    <key>[感冒]</key>
    <string>d_ganmao</string>
    <key>[困]</key>
    <string>d_kun</string>
    <key>[疑问]</key>
    <string>d_yiwen</string>
    <key>[顶]</key>
    <string>d_ding</string>
    <key>[失望]</key>
    <string>d_shiwang</string>
    <key>[挤眼]</key>
    <string>d_jiyan</string>
    <key>[打哈欠]</key>
    <string>d_dahaqi</string>
    <key>[可怜]</key>
    <string>d_kelian</string>
    <key>[吐]</key>
    <string>d_tu</string>
    <key>[委屈]</key>
    <string>d_weiqu</string>
    <key>[嘘]</key>
    <string>d_xu</string>
    <key>[左哼哼]</key>
    <string>d_zuohengheng</string>
    <key>[右哼哼]</key>
    <string>d_youhengheng</string>
    <key>[懒得理你]</key>
    <string>d_landelini</string>
    <key>[太开心]</key>
    <string>d_taikaixin</string>
    <key>[怒骂]</key>
    <string>d_numa</string>
    <key>[亲亲]</key>
    <string>d_qinqin</string>
    <key>[生病]</key>
    <string>d_shengbing</string>
    <key>[思考]</key>
    <string>d_sikao</string>
    <key>[悲伤]</key>
    <string>d_beishang</string>
    <key>[鼓掌]</key>
    <string>d_guzhang</string>
    <key>[花心]</key>
    <string>d_huaxin</string>
    <key>[鄙视]</key>
    <string>d_bishi</string>
    <key>[闭嘴]</key>
    <string>d_bizui</string>
    <key>[衰]</key>
    <string>d_shuai</string>
    <key>[酷]</key>
    <string>d_ku</string>
    <key>[喵喵]</key>
    <string>d_miao</string>
    <key>[狗狗]</key>
    <string>d_doge</string>
    <key>[笑cry]</key>
    <string>d_xiaoku</string>
    <key>[偷笑]</key>
    <string>d_touxiao</string>
    <key>[钱]</key>
    <string>d_qian</string>
    <key>[睡觉]</key>
    <string>d_shuijiao</string>
    <key>[害羞]</key>
    <string>d_haixiu</string>
    <key>[汗]</key>
    <string>d_han</string>
    <key>[怒]</key>
    <string>d_nu</string>
    <key>[可爱]</key>
    <string>d_keai</string>
    <key>[哼]</key>
    <string>d_heng</string>
    <key>[抓狂]</key>
    <string>d_zhuakuang</string>
    <key>[馋嘴]</key>
    <string>d_chanzui</string>
    <key>[累]</key>
    <string>d_lei</string>
    <key>[晕]</key>
    <string>d_yun</string>
    <key>[吃惊]</key>
    <string>d_chijing</string>
    <key>[挖鼻屎]</key>
    <string>d_wabishi</string>
    <key>[爱你]</key>
    <string>d_aini</string>
    <key>[哈哈]</key>
    <string>d_haha</string>
    <key>[嘻嘻]</key>
    <string>d_xixi</string>
    <key>[呵呵]</key>
    <string>d_hehe</string>
</dict>
</plist>
